QPushButton{
    border-style: solid;
	background-color:#025154;
}

QPushButton::default{
    border-style: solid;
	background-color:#025154;
}

QPushButton:hover{
    border-style: solid;
	background-color:#04656B;
}

QPushButton:pressed{
    border-style: solid;
	background-color:#16556D;
}

QToolTip {
    background-color:#025154;
    border-radius:3px;
	font: bold normal 15px "Microsoft YaHei";
	color: #FFFFFF;
}

#7dull_